src/main/resources/data/output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dsgvo" type="dsgvoType"/>
  <xs:complexType name="highlightType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="UC"/>
            <xs:enumeration value="ITALIC"/>
            <xs:enumeration value="BOLD"/>
            <xs:enumeration value="EXPANDED"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="text"/>
      <xs:element type="highlightType" name="highlight" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pType" mixed="true">
    <xs:sequence>
      <xs:element type="highlightType" name="highlight" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="dateType" name="date" minOccurs="0"/>
      <xs:element type="quoteType" name="quote" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="referenceType" name="reference" minOccurs="0"/>
      <xs:element type="ftType" name="ft" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dateType">
    <xs:sequence>
      <xs:element type="xs:string" name="iso"/>
      <xs:element type="xs:string" name="datestr"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="titleType">
    <xs:sequence>
      <xs:element type="pType" name="p" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="quoteType">
    <xs:sequence>
      <xs:element type="xs:string" name="start" minOccurs="0"/>
      <xs:element type="xs:string" name="end" minOccurs="0"/>
      <xs:element type="xs:string" name="id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="txtType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="quoteType" name="quote"/>
      <xs:element type="noteType" name="note"/>
      <xs:element type="dateType" name="date"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="npType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="txtType" name="txt"/>
      <xs:element name="p" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="als sie in den Anwendungsbereich des Unionsrechts fällt. In Bezug auf die Verarbeitung personenbezogener Daten durch diese Behörden für Zwecke, die in den Anwendungsbereich dieser Verordnung fallen, sollten die Mitgliedstaaten spezifischere Bestimmungen beibehalten oder einführen können, um die Anwendung der Vorschriften dieser Verordnung anzupassen. In den betreffenden Bestimmungen können die Auflagen für die Verarbeitung personenbezogener Daten durch diese zuständigen Behörden für jene anderen Zwecke präziser festgelegt werden, wobei der verfassungsmäßigen, organisatorischen und administrativen Struktur des betreffenden Mitgliedstaats Rechnung zu tragen ist. Soweit diese Verordnung für die Verarbeitung personenbezogener Daten durch private Stellen gilt, sollte sie vorsehen, dass die Mitgliedstaaten einige Pflichten und Rechte unter bestimmten Voraussetzungen mittels Rechtsvorschriften beschränken können, wenn diese Beschränkung in einer demokratischen Gesellschaft eine notwendige und verhältnismäßige Maßnahme zum Schutz bestimmter wichtiger Interessen darstellt, wozu auch die öffentliche Sicherheit und die Verhütung, Ermittlung, Aufdeckung und Verfolgung von Straftaten oder die Strafvollstreckung zählen, einschließlich des Schutzes vor und der Abwehr von Gefahren für die öffentliche Sicherheit. Dies ist beispielsweise im Rahmen der Bekämpfung der Geldwäsche oder der Arbeit kriminaltechnischer Labors von Bedeutung."/>
            <xs:enumeration value="Hat die betroffene Person ihre Einwilligung erteilt oder beruht die Verarbeitung auf Unionsrecht oder dem Recht der Mitgliedstaaten, was in einer demokratischen Gesellschaft eine notwendige und verhältnismäßige Maßnahme zum Schutz insbesondere wichtiger Ziele des allgemeinen öffentlichen Interesses darstellt, so sollte der Verantwortliche die personenbezogenen Daten ungeachtet der Vereinbarkeit der Zwecke weiterverarbeiten dürfen. In jedem Fall sollte gewährleistet sein, dass die in dieser Verordnung niedergelegten Grundsätze angewandt werden und insbesondere die betroffene Person über diese anderen Zwecke und über ihre Rechte einschließlich des Widerspruchsrechts unterrichtet wird. Der Hinweis des Verantwortlichen auf mögliche Straftaten oder Bedrohungen der öffentlichen Sicherheit und die Übermittlung der maßgeblichen personenbezogenen Daten in Einzelfällen oder in mehreren Fällen, die im Zusammenhang mit derselben Straftat oder derselben Bedrohung der öffentlichen Sicherheit stehen, an eine zuständige Behörde sollten als berechtigtes Interesse des Verantwortlichen gelten. Eine derartige Übermittlung personenbezogener Daten im berechtigten Interesse des Verantwortlichen oder deren Weiterverarbeitung sollte jedoch unzulässig sein, wenn die Verarbeitung mit einer rechtlichen, beruflichen oder sonstigen verbindlichen Pflicht zur Geheimhaltung unvereinbar ist."/>
            <xs:enumeration value="Um unter Berücksichtigung der besonderen Umstände und Rahmenbedingungen, unter denen die personenbezogenen Daten verarbeitet werden, der betroffenen Person gegenüber eine faire und transparente Verarbeitung zu gewährleisten, sollte der für die Verarbeitung Verantwortliche geeignete mathematische oder statistische Verfahren für das Profiling verwenden, technische und organisatorische Maßnahmen treffen, mit denen in geeigneter Weise insbesondere sichergestellt wird, dass Faktoren, die zu unrichtigen personenbezogenen Daten führen, korrigiert werden und das Risiko von Fehlern minimiert wird, und personenbezogene Daten in einer Weise sichern, dass den potenziellen Bedrohungen für die Interessen und Rechte der betroffenen Person Rechnung getragen wird und mit denen verhindert wird, dass es gegenüber natürlichen Personen aufgrund von Rasse, ethnischer Herkunft, politischer Meinung, Religion oder Weltanschauung, Gewerkschaftszugehörigkeit, genetischer Anlagen oder Gesundheitszustand sowie sexueller Orientierung zu diskriminierenden Wirkungen oder zu Maßnahmen kommt, die eine solche Wirkung haben. Automatisierte Entscheidungsfindung und Profiling auf der Grundlage besonderer Kategorien von personenbezogenen Daten sollten nur unter bestimmten Bedingungen erlaubt sein."/>
            <xs:enumeration value="Im Zusammenhang mit gerichtlichen Rechtsbehelfen in Bezug auf die Anwendung dieser Verordnung können einzelstaatliche Gerichte, die eine Entscheidung über diese Frage für erforderlich halten, um ihr Urteil erlassen zu können, bzw. müssen einzelstaatliche Gerichte in den Fällen nach Artikel 267 AEUV den Gerichtshof um eine Vorabentscheidung zur Auslegung des Unionsrechts — das auch diese Verordnung einschließt — ersuchen. Wird darüber hinaus der Beschluss einer Aufsichtsbehörde zur Umsetzung eines Beschlusses des Ausschusses vor einem einzelstaatlichen Gericht angefochten und wird die Gültigkeit des Beschlusses des Ausschusses in Frage gestellt, so hat dieses einzelstaatliche Gericht nicht die Befugnis, den Beschluss des Ausschusses für nichtig zu erklären, sondern es muss im Einklang mit Artikel 267 AEUV in der Auslegung des Gerichtshofs den Gerichtshof mit der Frage der Gültigkeit befassen, wenn es den Beschluss für nichtig hält. Allerdings darf ein einzelstaatliches Gericht den Gerichtshof nicht auf Anfrage einer natürlichen oder juristischen Person mit Fragen der Gültigkeit des Beschlusses des Ausschusses befassen, wenn diese Person Gelegenheit hatte, eine Klage auf Nichtigerklärung dieses Beschlusses zu erheben — insbesondere wenn sie unmittelbar und individuell von dem Beschluss betroffen war –, diese Gelegenheit jedoch nicht innerhalb der Frist gemäß Artikel 263 AEUV genutzt hat."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referenceType">
    <xs:sequence>
      <xs:element name="coll">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="L"/>
            <xs:enumeration value="C"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="pub"/>
      <xs:element type="xs:string" name="no"/>
      <xs:element type="xs:string" name="page"/>
      <xs:element type="xs:string" name="text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="pType" name="p"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preambleType">
    <xs:sequence>
      <xs:element type="npType" name="np" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subtitleType">
    <xs:sequence>
      <xs:element type="pType" name="p"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paragraphType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="no"/>
      <xs:element name="alinea" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="p" minOccurs="0">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:element type="highlightType" name="highlight" maxOccurs="unbounded" minOccurs="0"/>
                  <xs:element type="dateType" name="date" minOccurs="0"/>
                  <xs:element type="quoteType" name="quote" maxOccurs="unbounded" minOccurs="0"/>
                  <xs:element type="referenceType" name="reference" minOccurs="0"/>
                  <xs:element type="ftType" name="ft" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element type="listType" name="list" minOccurs="0"/>
            <xs:element type="quoteType" name="quote" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="highlightType" name="highlight" minOccurs="0"/>
            <xs:element type="dateType" name="date" minOccurs="0"/>
            <xs:element type="noteType" name="note" minOccurs="0"/>
            <xs:element type="ftType" name="ft" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articleType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="subtitle"/>
      <xs:element type="paragraphType" name="paragraph" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="liType">
    <xs:sequence>
      <xs:element type="xs:string" name="id" minOccurs="0"/>
      <xs:element name="txt">
        <xs:complexType mixed="true">
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="quoteType" name="quote"/>
            <xs:element type="noteType" name="note"/>
            <xs:element type="dateType" name="date"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element type="liType" name="li" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alineaType" mixed="true">
    <xs:sequence>
      <xs:element name="p" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="highlightType" name="highlight" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="dateType" name="date" minOccurs="0"/>
            <xs:element type="quoteType" name="quote" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="referenceType" name="reference" minOccurs="0"/>
            <xs:element type="ftType" name="ft" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="listType" name="list" minOccurs="0"/>
      <xs:element type="quoteType" name="quote" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="highlightType" name="highlight" minOccurs="0"/>
      <xs:element type="dateType" name="date" minOccurs="0"/>
      <xs:element type="noteType" name="note" minOccurs="0"/>
      <xs:element type="ftType" name="ft" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="divisionType">
    <xs:sequence>
      <xs:element type="titleType" name="title"/>
      <xs:element type="subtitleType" name="subtitle"/>
      <xs:element type="articleType" name="article" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="divisionType" name="division" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ftType">
    <xs:sequence>
      <xs:element type="xs:string" name="type"/>
      <xs:element name="text">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="10000000"/>
            <xs:enumeration value="20000000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="termsType">
    <xs:sequence>
      <xs:element type="divisionType" name="division" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dsgvoType">
    <xs:sequence>
      <xs:element type="titleType" name="title"/>
      <xs:element type="preambleType" name="preamble"/>
      <xs:element type="termsType" name="terms"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>